@import './../../../assets/scss/master';

.bodyAlert{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 200px;
}
#zona-botones{
  align-self: flex-end;
}
