@import "./src/assets/scss/master";
.container {
    min-width: 350px;
    max-width: 500px;
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        margin-bottom:20px;

        .mat-form-field{
            margin-bottom:18px;
        }
        .button-action{
            display: flex;
            justify-content: space-around;
            button{
                width: 150px;
            }
            
        }
        
    }
}