<div>
    <div>
        <h1>Gestión usuarios</h1>
    </div>
    <div class = "new-user">
        <button primary (click)="addUser()">Nuevo usuario</button>
    </div>
    <div (window:resize)="resizeGrid()">
        <ag-grid-angular 
            style="height: calc(100vh - 250px); width: 100%;"
            class="ag-theme-alpine"
            [columnDefs]="columnDefSch"
            [rowData]="usuarios"
            [frameworkComponents]="frameworkComponents"
            [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event)"
        >    
        </ag-grid-angular>
    </div>
</div>
<div class="loadWrapper" *ngIf="isloading">
    <mat-spinner></mat-spinner>
</div>