@import "./src/assets/scss/master";

.edit {
    margin-right: 0;
    margin-left:auto;
    display:block;
    margin-bottom: 20px;
    padding: 5px;
}

.new-user{

    display: flex;
    justify-content: end;


    button{
        width: 150px;
        margin-bottom: 20px;
        padding: 5px;
        margin-right: 0px;
    }
    button:first-child{
        margin-right: 10px;
    }

}