@import './src/assets/scss/master';
h1 {
    height: 30px;
}
.button-container {
    height: 50px;
    margin-left: auto;
    width: 210px;
}

::ng-deep {
    textarea {
        border: 2px solid $lightgray;
        height: 400px;
        width: 800px;
        font-size: 16px;
        padding: 10px;
    }
}
