@import "./src/assets/scss/master";

.bodyAlert{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    height: 150px;
}

.zona-botones{
    align-self: flex-end;

    button {
        margin-left: 5px;
    }
}
  