<div>
    <div>
        <h1>Gestión becarios</h1>
    </div>

    <div *ngIf="!editar" style="display: flex;">
        <div class="timeline">
            <button secondary (click)="openTimeLine()">TimeLine</button>
        </div>
        <div class="edit">
          <button secondary (click)="changeMode()"><mat-icon>edit</mat-icon></button>
        </div>
    </div>
    <div *ngIf="editar" style="display: flex;">
        <div class="closeEdit">
            <button  secondary (click)="undoChanges()" style="margin-right: 10px;">Deshacer cambios</button>
            <button  primary (click)="changeMode()">Guardar y Finalizar</button>
        </div>
    </div>

    <div (window:resize)="resizeGrid()">
        <ag-grid-angular id="agGridSholar"
            style="height: calc(100vh - 250px); width: 100%;"
            class="ag-theme-alpine"
            [columnDefs]="columnDefSch"
            [rowData]="rowDataScholar"
            [defaultColDef]="defaultColDef"
            [gridOptions] = "gridOptions"
            (gridReady)="onGridReady($event)"
            [stopEditingWhenCellsLoseFocus] = true
            (cellEditingStopped)="onCellEditingStopped($event)"
            (firstDataRendered)="resizeGrid()"
        >
        </ag-grid-angular>
    </div>

</div>
