<div class="container">
  <nav>
    <mat-nav-list>
      <a *ngIf="authService.hasRole('USER')" mat-list-item routerLinkActive="item-active" routerLink="/main">
        <span>Gestión Personal</span>
      </a>
      <a mat-list-item routerLinkActive="item-active" routerLink="/scholar">
        <span>Gestión Becarios</span>
      </a>
      <a *ngIf="authService.hasRole('USER')" mat-list-item routerLinkActive="item-active" routerLink="/pyramid">
        <span>Pyramid Index</span>
      </a>
      <a *ngIf="authService.hasRole('USER')" mat-list-item routerLinkActive="item-active" routerLink="/pyramid-team">
        <span>Pyramid Team Index</span>
      </a>
    </mat-nav-list>
  </nav>
<div class="space"></div>

<div class="fixed-container">client ({{frontVersion}})&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;server ({{backVersion}})</div>
</div>
