@import "./src/assets/scss/master";
@import '../../../../styles';

.container {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  height: 100%;
}

.submenu {
  background-color: #29b4df;
  span {

    margin-left:15px;
    font-size: 14px !important;
  }
}

nav {
  height: 225px;
  a {
    span {
      font-size: 16px;
      padding: 0 20px 0 14px;
      color: $background;
      white-space: nowrap;
    }
  }
}


.space {
  flex: 1;
}

.fixed-container {
  height: 25px;
  width: 100%;
  text-align: center;
  font-size: smaller;
  color: #bbc3df;
}

.item-active {
  span {
    font-weight: bolder;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: inherit;
    border-left: 6px solid $background;
    box-sizing: border-box;
  }
}




:host::ng-deep {
  .mat-list-item {
    height: 40px !important;
  }

  .mat-expansion-indicator::after {
    color: $background;
  }

  .mat-expansion-panel-body {
    padding: 0px 0px 0px 0px;
  }

  .subitem {
    padding: 0 20px 0 28px !important;
  }

}


.mat-expansion-panel-header.mat-expanded {
  height: 48px;
}

.mat-expansion-panel {
  background: none;
  color: $background;


  * {
    font-size: 16px;
    white-space: nowrap;
  }

  .subtitle {
    padding-left: 29px;
  }

  
}