<div class="container">
  <nav>
    <mat-nav-list>
      <a *ngIf="authService.hasRole('PERSONAL')" mat-list-item routerLinkActive="item-active" routerLink="/personal">
        <span>Gestión Personal</span>
      </a>
      <a *ngIf="authService.hasRole('INTERN')" mat-list-item routerLinkActive="item-active" routerLink="/intern">
        <span>Gestión Becarios</span>
      </a>
      <a *ngIf="authService.hasRole('PERSONAL')" mat-list-item routerLinkActive="item-active" routerLink="/pyramid">
        <span>Pyramid Index</span>
      </a>
      <a *ngIf="authService.hasRole('PERSONAL')" mat-list-item routerLinkActive="item-active" routerLink="/pyramid-team">
        <span>Pyramid Team Index</span>
      </a>
      <mat-expansion-panel *ngIf="authService.hasRole('MAINTENANCE')" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header class="subtitle">
            Mantenimiento
        </mat-expansion-panel-header>
        <mat-nav-list dense>
          <a mat-list-item routerLinkActive="item-active" routerLink="/education-center">
            <span class="subitem" >Centros Educativos</span>
          </a>
          <a mat-list-item routerLinkActive="item-active" routerLink="/education">
            <span class="subitem" >Titulaciones</span>
          </a>
          <a mat-list-item routerLinkActive="item-active" routerLink="/technology">
            <span class="subitem" >Tecnologías</span>
          </a>
          <a mat-list-item routerLinkActive="item-active" routerLink="/level">
            <span class="subitem" >Niveles de inglés</span>
          </a>
        </mat-nav-list>
    </mat-expansion-panel>      
    </mat-nav-list>
  </nav>
<div class="space"></div>

<div class="fixed-container">client ({{frontVersion}})&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;server ({{backVersion}})</div>
</div>
