<div>
    <h1>Sincronizar LDAP</h1>

    <div class="list-dis" >
      <div class="list-text">
        <p>La lista de distribución <strong>CCSW</strong> del LDAP no concuerda con la app:
          <span ng-if="ldapToPersons">{{ldapToPersons.length}} eliminar | </span>
          <span ng-if="personsToLdap">{{personsToLdap.length}} insertar</span>
        </p>
        <p>La lista de distribución <strong>CCSWBecarios</strong> del LDAP no concuerda con la app:
          <span ng-if="ldapToPersonsCcswbec">{{ldapToPersonsCcswScholars.length}} eliminar | </span>
          <span ng-if="personsCcswbecToLdap">{{personsCcswScholarsToLdap.length}} insertar </span>
        </p>
      </div>
      <div class="list-bt" >
        <button secondary *ngIf="ldapToPersons.length  || personsToLdap.length" (click)="copyList(true)">Sincronizar Manualmente</button>
        <button secondary *ngIf="ldapToPersonsCcswScholars.length || personsCcswScholarsToLdap.length"(click)="copyList(false)">Sincronizar Manualmente</button>
      </div>
    </div>

    <mat-tab-group [selectedIndex]="tabIndex">
      <mat-tab label="CONTRATOS">

      <div class="lists_container">
          <div class="ldap_container">
              <h3 class="list-header">Personas de <b>CCSW</b> que <b>NO</b> están en la app</h3>
              <mat-spinner [diameter]="55" *ngIf="showSpinner1"></mat-spinner>
              <mat-list id="ldap_list">
                  <mat-list-item *ngFor="let person of ldapToPersons">
                    <h3 matLine> {{person.name}} {{person.lastname}} </h3>
                    <p matLine>
                      <span> {{person.username}} </span>
                    </p>
                  </mat-list-item>
                </mat-list>
          </div>
          <div style="width: 425px;">
              <h3 class="list-header">Personas de la app que <b>NO</b> están en <b>CCSW</b></h3>
              <mat-spinner [diameter]="55" *ngIf="showSpinner2"></mat-spinner>
              <mat-list id="persons_list">
                  <mat-list-item *ngFor="let person of personsToLdap">
                    <h3 matLine> {{person.name}} {{person.lastname}} </h3>
                    <p matLine>
                      <span> {{person.username}} </span>
                    </p>
                  </mat-list-item>
              </mat-list>
          </div>
      </div>
    </mat-tab>
  <mat-tab label="BECARIOS">

    <div class="lists_container">
      <div class="ldap_container">
        <h3 class="list-header">Personas de <b>CCSWBecarios</b> que <b>NO</b> están en la app</h3>
        <mat-spinner [diameter]="55" *ngIf="showSpinner3"></mat-spinner>
          <mat-list id="ldap_listBec">
              <mat-list-item *ngFor="let person of ldapToPersonsCcswScholars">
                <h3 matLine> {{person.name}} {{person.lastname}} </h3>
                <p matLine>
                  <span> {{person.username}} </span>
                </p>
              </mat-list-item>
            </mat-list>
      </div>
      <div style="width: 425px;">
        <h3 class="list-header">Personas de la app que <b>NO</b> están en <b>CCSWBecarios</b></h3>
        <mat-spinner [diameter]="55" *ngIf="showSpinner4"></mat-spinner>
          <mat-list id="persons_listBec" >
              <mat-list-item *ngFor="let person of personsCcswScholarsToLdap">
                <h3 matLine> {{person.name}} {{person.lastname}} </h3>
                <p matLine>
                  <span> {{person.username}} </span>
                </p>
              </mat-list-item>
          </mat-list>
      </div>
  </div>

  </mat-tab>
  </mat-tab-group >
    <div class="buttons">
        <button primary (click)="close()">Cerrar</button>
    </div>
</div>
