<div>
    <h1>TimeLine Becarios</h1>
    <div id="button-close">
      <i [mat-dialog-close] class="material-icons" style="color: lightcoral;">clear</i>
    </div>

    <div class="date">
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Fecha de inicio</mat-label>
                <input name="startDate" matInput [(ngModel)]="startDate" [matDatepicker]="start" required/>
                <mat-error>La fecha de inicio no puede estar vacío</mat-error>
                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                <mat-datepicker #start></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" style="margin-left: 10px">
                <mat-label>Fecha de fin</mat-label>
                <input name="endDate" matInput [(ngModel)]="endDate" [matDatepicker]="end" required/>
                <mat-error>{{errorText}}</mat-error>
                <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                <mat-datepicker #end></mat-datepicker>
            </mat-form-field>
            <button secondary (click)="onSave()" type="submit">Buscar</button>
        </form>
    </div>
    <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [fill]="chartOptions.fill"
          [grid]="chartOptions.grid"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
          style="height: 100%;"
        ></apx-chart>
    </div>


</div>
