@import './src/assets/scss/master';


#chart {
    width: auto;
    height: auto;
}
  
button {
    width: 150px;
    margin-bottom: 20px;
    padding: 5px;
    margin-right: 0px;
    margin-left: 25px;
}

/*
.timeline-filter-bar-chart {
  .timeline {
    .brush-background {
      fill: rgba(0, 0, 0, 0.05);
    }

    .brush {
      .selection {
        fill: rgba(0, 0, 0, 0.1);
        stroke-width: 1px;
        stroke: #888888;
      }

      .handle {
        fill-opacity: 0;
      }
    }

    .embedded-chart {
      opacity: 0.6;
    }
  }
}
*/