<div>
  <div>
      <h1>Pyramid Teams Index</h1>
  </div>
  <div id = "costesValencia" (window:resize)="resizeGrid()">
      <ag-grid-angular id="agGridPyramid"
          class="ag-theme-alpine"
          [columnDefs]="columnDefSch"
          [rowData]="rowDataPyramidMap"
          [defaultColDef]="defaultColDef"
          [gridOptions] = "gridOptions"
          (gridReady)="onGridReady($event)"
          (firstDataRendered)="resizeGrid()"
      >
      </ag-grid-angular>
  </div>

  <div class="costesGrupos" (window:resize)="resizeGrid()">
    <div #teamsDivComponent *ngFor="let team of rowTeams">
      <h2>{{team.customerName}}</h2>
      <div class="gridAndChart" >

        <div class="grid">
          <ag-grid-angular #grid id="agGridPyramidDynamic"
              class="ag-theme-alpine"
              [columnDefs]="columnDefSchGroup"
              [rowData]="team.customerList"
              [defaultColDef]="defaultColDef"
              [gridOptions] = "gridOptions"
              (gridReady)="onGridReady($event)"
              (firstDataRendered)="resizeGrid()"
              (gridSizeChanged)="onGridSizeChanged($event)"
          >
          </ag-grid-angular>
        </div>
          <div #chart class="chart" id="{{team.customerName}}"
          >

        </div>
      </div>
    </div>
  </div>


</div>
